
input[type=file] {
  margin: 0 auto; }

textarea:focus, input:focus {
  outline: none; }

body {
  padding: 7%;
  font-family: sans-serif; }

li {
  display: inline-block;
  padding: 5px;
  margin: 0; }

ul {
  margin: 0;
  padding-left: 25px; }

h1 {
  text-align: center; }

.singleFileBox {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row; }
  .singleFileBox .flex-item {
    flex-grow: 1; }

.newGroupArticlesList {
  border-bottom: 2px solid #c2c2c2; }

.singleFileCredit {
  width: 25%; }

.singleFileTitle {
  width: 34%; }

.singleFileName {
  width: 25%; }

.removeSingleFile {
  float: right;
  margin: 2% 0; }

.uploadFiles {
  float: left;
  text-align: center;
  -webkit-align-self: center;
  align-self: center;
  height: 100%; }

.listOfHeros {
  display: inline-block;
  width: 73%;
  border-left: 2px solid #c2c2c2; }

.uploadFilesTitleInput {
  display: block;
  width: 90%;
  height: 10%; }

.uploadFilesCreditInput {
  display: block;
  width: 90%; }

.heroFilesWrapper {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  border-bottom: 2px solid #c2c2c2; }

.uploadFilesForm {
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column; }
  .uploadFilesForm .flex-item {
    flex-grow: 1; }

.uploadInput {
  align-items: center; }

.subCategorysTitle {
  text-align: center; }

.newCategoryButtonDiv {
  text-align: center;
  border-bottom: 2px solid #c2c2c2;
  padding: 20px 0; }

.subCategorysUl {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row; }
  .subCategorysUl .flex-item {
    flex-grow: 1; }

.subCategorysText {
  padding: 0 5px;
  border-left: 2px solid #c2c2c2; }

.articlesTitle {
  text-align: center; }

.articleListBoxToRender {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row; }
  .articleListBoxToRender .flex-item {
    -webkit-flex: 1;
    flex: 1; }

.articleListToRender {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column; }
  .articleListToRender .flex-item {
    -webkit-flex: 1;
    flex: 1; }

.SingleHomeArticle {
  padding: 0 5% 0 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row; }
  .SingleHomeArticle .articleButtons {
    -webkit-flex: 1;
    flex: 1;
    text-align: center; }
  .SingleHomeArticle .singleFileName {
    -webkit-flex: 4;
    flex: 4; }

.articleListToRender2 {
  border-left: 2px solid #c2c2c2; }

.homeArticlesDiv {
  border-bottom: 2px solid #c2c2c2; }

.newArticleButton {
  text-align: center;
  padding: 20px 0; }

.groupsTitle {
  text-align: center; }

.newGroupButton {
  text-align: center;
  margin: 10px; }

.groupListDiv {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row; }
  .groupListDiv .flex-item {
    -webkit-flex: 1;
    flex: 1; }

.groupList {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column; }
  .groupList .flex-item {
    -webkit-flex: 1;
    flex: 1; }

.singleGroupList {
  padding: 8px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row; }
  .singleGroupList .singleGroupButtons {
    -webkit-flex: 1;
    flex: 1; }
  .singleGroupList .singleGroupName {
    -webkit-flex: 3;
    flex: 3; }

.singleGroupList2 {
  border-right: 2px solid #c2c2c2;
  border-left: 2px solid #c2c2c2; }

.uploadFilesTitle {
  text-align: center; }

.titlebox {
  padding-bottom: 30px;
  border-bottom: 2px solid #c2c2c2;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row; }
  .titlebox .flex-item {
    align-self: center; }

.newArticleTitle {
  text-align: center; }

.newArticleTitleInput {
  width: 50%;
  margin: auto; }

.summeryAndCategorysDiv {
  border-bottom: 2px solid #c2c2c2;
  min-height: 300px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row; }
  .summeryAndCategorysDiv .summerybox {
    border-right: 2px solid #c2c2c2;
    -webkit-flex: 1;
    flex: 1; }
  .summeryAndCategorysDiv .allCategorysDiv {
    -webkit-flex: 1.5;
    flex: 1.5; }

.newArticleSummeryTextArea {
  height: 70%;
  width: 70%; }

.summerybox {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column; }
  .summerybox .flex-item {
    align-self: center; }

.allCategorysDiv {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column; }
  .allCategorysDiv .filler {
    -webkit-flex: 1;
    flex: 1; }
  .allCategorysDiv .homaPageAndCategory {
    -webkit-flex: 2;
    flex: 2;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column; }
    .allCategorysDiv .homaPageAndCategory .flex-item {
      -webkit-flex: 1;
      flex: 1;
      text-align: center; }
  .allCategorysDiv .newArticleSubCategorysDiv {
    text-align: center;
    -webkit-flex: 3;
    flex: 3;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row; }
    .allCategorysDiv .newArticleSubCategorysDiv .flex-item {
      -webkit-flex: 1;
      flex: 1; }

.singleSubCategoryDiv {
  display: inline-block; }

.showAtHomePageBox {
  display: inline-block; }

.categoryBox {
  display: inline-block; }

.newArticleSubCategorysTitle {
  text-align: center; }

.subCategorysToRender {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column; }
  .subCategorysToRender .flex-item {
    -webkit-flex: 1;
    flex: 1; }

.publish {
  text-align: center;
  padding-top: 20px; }

.articleBodyBox {
  text-align: center; }

.home-editor {
  min-height: 400px;
  border: 1px solid #F1F1F1;
  border-radius: 2px;
  padding: 5px; }

.rdw-editor-main {
  min-height: 400px;
  border: 1px solid #F1F1F1;
  border-radius: 2px;
  padding: 5px; }

/*# sourceMappingURL=style.css.map */
